name: CI
on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

jobs:
  build_agent_controller:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./agents-controller

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm i

      - name: Compile
        run: npm run compile

      - name: Test
        run: npm test

      - name: Lint
        run: npm run lint

      - name: Format
        run: npm run format:check

  build_frontend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./frontend

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm i

      - name: Test
        run: npm run test

      - name: Lint
        run: npm run lint

      - name: Format
        run: npm run format:check
